<!--<input type="text" placeholder="UPC" ng-model="barcode"><button class="icon-barcode button scan">cam</button>

<section id="container" class="container" ng-show="showBarcodeWindow">
    <button class="overlay__close" ng-click="stoppy()">Stop Scan</button>
    <div class="overlay overlay--inline overlay__content" />
</section>-->

<input type="text" ng-model="barcode" class="ci-2-a item-input"><button class="icon-barcode button scan ci-2-b">c</button>

<section id="container" class="container" ng-show="showBarcodeWindow">
    <button class="overlay__close ci-3-c" ng-click="stoppy()">Stop Scan</button>
    <div class="overlay overlay--inline overlay__content ci-3-b">
    </div>
        <div class="locker"></div>
</section>