<!--<input type="text" placeholder="UPC" ng-model="barcode"><button class="icon-barcode button scan">cam</button>

<section id="container" class="container" ng-show="showBarcodeWindow">
    <button class="overlay__close" ng-click="stoppy()">Stop Scan</button>
    <div class="overlay overlay--inline overlay__content" />
</section>-->

<input type="text" ng-model="barcode" class="ci-2-a item-input"><button class="icon-barcode button scan ci-2-b">c</button>

<section id="conta--iner" class="container" ng-show="showBarcodeWindow">
    <button class="ci-3-c" ng-click="stoppy()">Stop Scan</button>
    <div class="locker"></div>
    <div class="scanWindow-contianer">
        <div class="sw-1"></div>
        <div id="sw-middle">
            <div class="sw-1-a"></div>
            <div class="sw-1-b"></div>
            <div class="scanBar"></div>
        </div>
        <div class="sw-1"></div>
    </div>
    <div class="overlay overlay--inline overlay__content ci-3-b"></div>
</section>