<!--╔══════════════════════════════════════╗-->
<!--║           PUBLIC HOME                ║-->
<!--╚══════════════════════════════════════╝-->
<div class="home-main-wrapper">
    <div class="home-body-wrapper">
        <div class="home-title-1">
            <div class="ht-1-a">
                <p class="home-test-asset home-section-title" id="ht1">All the things</p>
                <p class="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente
                    sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus
                    voluptatibus!
                </p>
            </div>
        </div>
    </div>
    <!--╔══════════════════════════════════════╗-->
    <!--║           FIND SECTION               ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="find-body-wrapper">
        <div class="ft-1 ">
            <div class="ft-1-a">
                <div class="ft-1-a-i">
                    <div class="ft-1-a-i-1">
                        <div class="find-test-asset clip-circle" id="ft1"></div>
                    </div>
                </div>
                <div class="ft-1-a-ii">
                    <div class="ft-1-a-ii-1" id="ft2">Finding
                    </div>
                    <div class="ft-1-a-ii-2" id='ft3'>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit
                        eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--╔══════════════════════════════════════╗-->
    <!--║           LOSS SECTION               ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="loss-wrapper">
        <div class="lw-1">
            <div class="lw-1-a desc-text">
                OIJGoijgjIJGOijgoJJojiGRIJG OIJRGoi g GOIJoifjgOIJRGoijgI iogjoijdgOIJ Goij goIJoij RGO O IJ;j;joijOIJjoijHIHiuhihuhhOI HIOh
                oiH
            </div>
            <div class="lw-1-b home-section-title">
                Itemize Assets
            </div>
        </div>
    </div>

    <!--╔══════════════════════════════════════╗-->
    <!--║           CONTACT FOOTER             ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="cbw-1 filtre--r">
        <div class="cbw-1-a">
            <div id="cbw1">
                <i class="fa fa-linkedin-square socialLink" aria-hidden="true"></i>
            </div>
            <div id="cbw2">
                <i class="fa fa-github socialLink" aria-hidden="true"></i>
            </div>
            <div id="cbw3">
                <i class="fa fa-facebook-official socialLink" aria-hidden="true"></i>
            </div>
        </div>
        <div class="cbw-1-b">
            <a href="mailto:support@allthethngs.com?Subject=allthethngs" id="cw4" target="_top">support</a>
        </div>
    </div>
</div>