<!--╔══════════════════════════════════════╗-->
<!--║           PUBLIC HOME                ║-->
<!--╚══════════════════════════════════════╝-->
<div class="home-main-wrapper">
    <div class="home-body-wrapper">
        <div class="home-title-1">
            <div class="ht-1-a">
                <p class="home-test-asset home-section-title" id="ht1">All the things</p>
                <div class="home-test-asset" id="ht2">This is the place for your all your things! With All The Things, you can keep an inventory of everything
                    you own, or just those things that you care most about.
                    <p id="key-features">Key features include:</p>
                    <ul class="key-features-list">
                        <li>Location Designation</li>
                        <li>Custom Tracking</li>
                        <li>Custom Container Types</li>
                        <li>Storage Options</li>
                        <li>Dynamic Grid Operations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--╔══════════════════════════════════════╗-->
    <!--║           FIND SECTION               ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="find-body-wrapper">
        <div class="ft-1 ">
            <div class="ft-1-a">
                <div class="ft-1-a-i">
                    <div class="ft-1-a-i-1">
                        <div class="find-test-asset clip-circle" id="ft1"></div>
                    </div>
                </div>
                <div class="ft-1-a-ii">
                    <div class="ft-1-a-ii-1" id="ft2">Tracking
                    </div>
                    <div class="ft-1-a-ii-2" id='ft3'>
                        Anything can be designated as a location. You can easily look up which items you have in storage, what room they are in,
                        or even what box they are in. You can also designate Other Common Locations of items, so you know
                        what locations to check when things go misplaced.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--╔══════════════════════════════════════╗-->
    <!--║           LOSS SECTION               ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="loss-wrapper">
        <div class="lw-1">
            <div class="lw-1-a desc-text">
                Be able to get your things back! All The Things allows you to have an itemized list of everything you own. If the worst happens
                and you lose your things in a disaster, all the things will be able to supply insurance companies with the
                information they need to get your things back.
                <p class="item-features">Item information includes:</p>
                <ul class="item-features-list">
                    <li>Price of the item at purchase</li>
                    <li>Replacement prices</li>
                    <li>When the item was purchased</li>
                    <li>A sentamental rating</li>
                    <li>Warrenty periods</li>
                    <li>...And anything else you can think of!</li>
                </ul>
            </div>
            <div class="lw-1-b home-section-title">
                Itemize Assets
            </div>
        </div>
    </div>

    <!--╔══════════════════════════════════════╗-->
    <!--║           CONTACT FOOTER             ║-->
    <!--╚══════════════════════════════════════╝-->
    <div class="cbw-1 filtre--r">
        <div class="cbw-1-a">
            <div id="cbw1" title="LinkedIn">
                <a href="https://www.linkedin.com/in/jodiparker/" target="_blank">
                <i class="fa fa-linkedin-square socialLink" aria-hidden="true"></i>
                </a>
            </div>
            <div id="cbw2" title="Github">
                <a href="https://github.com/jodilark" target="_blank">
                <i class="fa fa-github socialLink" aria-hidden="true"></i>
                </a>
            </div>
            <div id="cbw3" title="Facebook">
                <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-official socialLink" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="cbw-1-b">
            <a href="mailto:support@allthethngs.com?Subject=allthethngs" id="cw4" target="_top">
                <p>support</p>
            </a>
        </div>
    </div>
    <port-notes></port-notes>
</div>