<!--╔══════════════════════════════════════╗-->
<!--║           PUBLIC HOME                ║-->
<!--╚══════════════════════════════════════╝-->
<div class="home-body-wrapper">
    <div class="home-title-1">
        <div class="ht-1-a">
            <p class="home-test-asset" id="ht1">All the things</p>
            <pclass="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!</ht2></p>
        </div>
    </div>
</div>
<!--<div class="home-body-wrapper">
    <div class="home-title-1">
        <div class="ht-1-a">
            <p class="home-test-asset" id="ht1">Have help finding that missing item</p>
            <pclass="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!</ht2></p>
        </div>
    </div>
</div>
<div class="home-body-wrapper">
    <div class="home-title-1">
        <div class="ht-1-a">
            <p class="home-test-asset" id="ht1">Create custom locations</p>
            <pclass="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!</ht2></p>
        </div>
    </div>
</div>
<div class="home-body-wrapper">
    <div class="home-title-1">
        <div class="ht-1-a">
            <p class="home-test-asset" id="ht1">Be prepared for the worst</p>
            <pclass="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!</ht2></p>
        </div>
    </div>
</div>
<div class="home-body-wrapper">
    <div class="home-title-1">
        <div class="ht-1-a">
            <p class="home-test-asset" id="ht1">Custom tracking</p>
            <pclass="home-test-asset" id="ht2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi modi voluptatibus nisi, deserunt sapiente sint sit, velit eius autem tempore ab. Aspernatur rerum officia praesentium, veritatis iure itaque delectus voluptatibus!</ht2></p>
        </div>
    </div>
</div>-->


<!--╔══════════════════════════════════════╗-->
<!--║           CONTACT FOOTER             ║-->
<!--╚══════════════════════════════════════╝-->
<div class="cbw-1">
    <div class="cbw-1-a">
        <div class="cbw-asset" id="cbw1">asset</div>
        <div class="cbw-asset" id="cbw2">asset</div>
        <div class="cbw-asset" id="cbw3">asset</div>
    </div>
    <div class="cbw-1-b">
        <div class="cbw-asset" id="cbw4">asset</div>
    </div>
</div>
