<!--<h1>Create an item</h1>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{itemCreateTest}}</li>
        <li>2. {{itemGetSrvTest}}</li>
        <li>3. {{itemPostSrvTest}}</li>
        <li>4. {{itemPutSrvTest}}</li>
        <li>5. {{itemDeleteSrvTest}}</li>
        <li>6. {{itemMainSrvTest}}</li>
    </ul>
</div>-->


<form class="create-item-wrapper" id='itemCreateForm' ng-submit="createItem()">
    <div class="ci-1">
        <div class="ci-1-a">Create Items</div>
        <div class="ci-1-b" ng-click="hideItemsModal()">X</div>
    </div>
    <div class="scrollContainer">
        <div class="ci-4">
            <select class="item-input" id="userList" ng-options="user as user.first_name for user in users" ng-model="userId">
                <option id="userList" value="" selected>{{thisUser}}</option>
            </select>
            <div class="ci-8-b item-label">Owner</div>
        </div>
        <div class="ci-2">
            <bc-scanner></bc-scanner>
            <div class="ci-2-c item-label">Barcode</div>
        </div>
        <div class="ci-4">
            <input type="text" class="ci-4-a item-input" ng-model="itemCreateObj.short_name"></input>
            <div class="ci-4-b item-label">Short Name</div>
        </div>
        <div class="ci-5">
            <input type="text" class="ci-5-a item-input" ng-model="itemCreateObj.description"></input>
            <div class="ci-5-b item-label">Description</div>
        </div>
        <div class="ci-6">
            <input type="number" class="ci-6-a item-input" min="0" value="1" ng-model="itemCreateObj.quantity">
            <div class="ci-6-b item-label">Quantity</div>
        </div>
        <div class="ci-7">
            <div class="ci-7-b"></div>
            <div class="ci-7-a">Location Information</div>
            <div class="ci-7-c"></div>
        </div>
        <div class="ci-8">
            <select class="ci-8-a item-input" id="locationList" ng-options="location as location.description for location in locations" ng-model="locationOption" ng-change="locationId()">
            <option id="locationList" value="" disabled selected>{{loc}}</option>
            </select>
            <div class="ci-8-b item-label">Location</div>
        </div>
        <div class="ci-9">
            <div class="ci-9-a">
                <div ui-grid="gridOptions" id="temp-grid" class="my-loc-on-items" ui-grid-selection></div>
            </div>
            <div class="ci-9-b">Other Common Locations</div>
        </div>
        <div class="ci-7">
            <div class="ci-7-b"></div>
            <div class="ci-7-a">Attributes</div>
            <div class="ci-7-c"></div>
        </div>
        <div class="ci-11">
            <div>
                <label><input type="checkbox" id="ci-11-a  item-input" ng-model="consumable" ng-change="isConsumable()">Is consumable</input></label>
            </div>
            <div>
                <label><input type="checkbox" id="ci-11-a  item-input" ng-model="packageStatus" ng-change="originalPackaging()">Has original package</input></label>
            </div>
            <div>
                <label><input type="checkbox" id="ci-11-a  item-input" ng-model="multiPiece" ng-change="multiplePieces()">Has pieces</input></label>
            </div>
        </div>
        <div class="ci-12">
            <div class="star-rating ci-12-a" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
            <div id="ci-12-b">Sentimental Rating</div>
        </div>
        <div class="ci-7">
            <div class="ci-7-b"></div>
            <div class="ci-7-a">Purchase Info</div>
            <div class="ci-7-c"></div>
        </div>
        <div class="ci-8">
            <input type="text" class="ci-8-a item-input" ng-model="itemCreateObj.retailer"></input>
            <div class="ci-8-b item-label">Retailer</div>
        </div>
        <div class="ci-8">
            <input type="number" min="0" step="0.01" class="ci-8-a item-input" ng-model="itemCreateObj.price">
            <div class="ci-8-b item-label">Price</div>
        </div>
        <div class="ci-8">
            <input type="date" class="ci-8-a item-input" id='datefield' max='2000-13-13' ng-model="itemCreateObj.purchase_date">
            <div class="ci-8-b item-label">Purchase Date</div>
        </div>
        <div class="ci-8">
            <input type="text" class="ci-8-a item-input" ng-model="itemCreateObj.reason"></input>
            <div class="ci-8-b item-label">Reason</div>
        </div>
        <div class="ci-8">
            <input type="number" class="ci-8-a item-input" placeholder="warrenty period (in days)" min="0" max="999" ng-model="itemCreateObj.warrenty" style="min-width: 165px">
            <div class="ci-8-b item-label">Warrenty</div>
        </div>
        <div class="ci-13">
            <label><input type="radio" name="replaceDecision" ng-model="repItem" value="replink" checked ng-change="swapper()">Replacement link</label>
            <label><input type="radio" name="replaceDecision" id="ci-13-a" ng-model="repItem" value="other" ng-change="swapper()"> Other</label>
        </div>
        <div>
            <div ng-hide="linked" class="ci-13">
                <input type="text" class="item-input" ng-model="itemCreateObj.replink">
                <div class="ci-8-b item-label">Link to item</div>
            </div>
            <div ng-hide="!linked" class="ci-14">
                <textarea name="Other" class="item-input" id="te-other" cols="30" rows="10" ng-model="itemCreateObj.repOther"></textarea>
                <div class="ci-14-b item-label">Other</div>
            </div>
        </div>
        <div class="ci-7">
            <div class="ci-7-b"></div>
            <div class="ci-7-a">Track-Bys</div>
            <div class="ci-7-c"></div>
        </div>
        <div ng-repeat="trackby in trackbys" class="ci-8">
            <input class="item-input" type="text" value="" ng-model="trackbyValues[trackby.id]">
            <div class="ci-8-b item-label">{{trackby.trackby_name}}</div>
        </div>
        <div class="ci-8">
            <input class="item-input" id="tb-times" type="number" min="0" id="access-days" placeholder="time(s)" ng-model="itemCreateObj.af_time">
            <p id="per">per</p>
            <select name="time" id="time" ng-model="itemCreateObj.af_period">
                <option selected>Day</option>
                <option>Week</option>
                <option>Month</option>
                <option>Year</option>
            </select>
            <div id="ci-24-b" class="item-label">Access</div>
        </div>
        <div class="modal-footer">
            <input class="mf-button-1" type="submit" value="Create">
            <input class="mf-button-1" type="reset" value="Cancel">
            <!--<div class="mf-button-1">Create</div>
            <div class="mf-button-1">Cancel</div>-->
        </div>
    </div>
</form>