<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{locContainerTest}}</li>
        <li>2. {{containerServiceTest}}</li>
    </ul>
</div>-->
<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->
<div class="modal-wrapper-container">
    <div class="header-container">
        <div class="header-text">Container Types</div>
        <div class="closing-x" ng-click="hideContainerModal()">X</div>
    </div>
    <form id="containerCreateForm" class="form-wrapper">
        <div class="input-wrapper last-input-wrapper">
            <input type="text" class="modal-input" ng-model="container.name">
            <div class="modal-label">Description</div>
        </div>
        <div class="modal-controls-wrapper">
        <input type="submit" value="Create" class="modal-controls" id="addData" ng-click="createContainer()">
            <input type="reset" value="Clear" class="modal-controls">
        </div>
    </form>
    <div class="modal-grid-wrapper">
        <button class="grid-delete" ng-click="delete()" ng-disabled="enableDelete != false">d</button>
        <div ui-grid="gridOptions" class="myGrid" ui-grid-selection ui-grid-edit></div>
    </div>
</div>