<!--<h1>Create a Location Class Type</h1>
<h3>This should be changed from a ui-route view to a modal directive</h3>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{locClassTest}}</li>
        <li>2. {{locClassServiceTest}}</li>
    </ul>
</div>-->
<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->
<div class="modal-wrapper-storage">
    <div class="header-storage">
        <div class="header-text">Storage Types</div>
        <div class="closing-x" ng-click="hideStorageModal()">X</div>
    </div>
    <form id="classCreateForm" ng-submit="createLocClassObj()">
        <div class="form-wrapper">
        <div class="input-wrapper">
            <input type="text" class="modal-input" ng-model="locClassObj.name" required/>
            <div class="modal-label">Name</div>
        </div>
        <div class="input-wrapper last-input-wrapper">
            <input type="text" class="modal-input" ng-model="locClassObj.description"/>
            <div class="modal-label">Description</div>
        </div>
        </div>
        <div class="modal-controls-wrapper">
            <input type="submit" value="Submit" class="modal-controls" id="addData"/>
            <input type="reset" value="Clear" class="modal-controls">
        </div>
    </form>
    <div class="modal-grid-wrapper">
        <div class="grid-delete fa fa-trash" ng-click="delete()" ng-disabled="enableDelete != false"></div>
        <div id="storage-grid" class="myStorageGrid" ui-grid="gridOptions"  ui-grid-selection ui-grid-edit></div>
    </div>
</div>
