<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{locContainerTest}}</li>
        <li>2. {{containerServiceTest}}</li>
    </ul>
</div>-->
<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->
<div class="modal-wrapper-container">
    <div class="header-container">
        <div class="header-text">Container Types</div>
        <div class="closing-x" ng-click="hideContainerModal()">X</div>
    </div>
    <form id="containerCreateForm" ng-submit="createContainer()">
        <div class="form-wrapper">
            <div class="input-wrapper last-input-wrapper">
                <input type="text" class="modal-input" ng-model="container.name" required>
                <div class="modal-label">Description</div>
            </div>
        </div>
        <div class="modal-controls-wrapper">
            <input type="submit" value="Create" class="modal-controls" id="addData">
            <input type="reset" value="Clear" class="modal-controls">
        </div>
    </form>
    <div class="modal-grid-wrapper">
        <div class="grid-delete fa fa-trash" ng-click="delete()" ng-disabled="enableDelete != false"></div>
        <div id="container-grid" ui-grid="gridOptions" class="myGrid" id="container-grid" ui-grid-selection ui-grid-edit></div>
    </div>
</div>