<!--<h1>Create a Location</h1>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{locCtrlTest}}</li>
        <li>2. {{locCreateServiceTest}}</li>
        <li>3. {{containerServiceTest}}</li>
        <li>4. {{locClassServiceTest}}</li>
        <li>5. {{locListServiceTest}}</li>
    </ul>
</div>-->


<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->
<div class="modal-wrapper-location">
    <div class="header-location">
        <div class="header-text">Create a Location</div>
        <div class="closing-x" ng-click="hideLocationModal()">X</div>
    </div>
    <form id="createLocationForm" ng-submit="createLocation()">
        <div class="form-wrapper">
            <div class="input-wrapper">
                <select class="modal-input" id="classificationList" ng-options="locClass as locClass.name for locClass in locClasses" ng-model="locClassObj">
                <option id="classificationList" value="" disabled selected>Classification</option>
            </select>
                <div class="modal-label">Strg. Type</div>
            </div>
            <div class="input-wrapper">
                <input type="text" class="modal-input" ng-model="locObj.description" required/>
                <div class="modal-label">Description</div>
            </div>
            <div class="input-wrapper">
                <input type="text" class="modal-input" ng-model="locObj.barcode" />
                <div class="modal-label">Barcode</div>
            </div>
            <div class="input-wrapper">
                <select class="modal-input" id="containerList" ng-options="container as container.name for container in containers" ng-model="containerObj">
                <option id="containerList" value="" disabled selected>Container Type</option>
            </select>
                <div class="modal-label">Container</div>
            </div>
            <div class="loc-coordinates-wrapper">
                <div class="loc-coordinates-input-wrapper">
                    <input type="number" class="loc-coordinates-input" ng-model="locObj.x_coordinate" />
                    <div class="loc-coordinates-label">x</div>
                </div>
                <div class="loc-coordinates-input-wrapper">
                    <input type="number" class="loc-coordinates-input" ng-model="locObj.y_coordinate" />
                    <div class="loc-coordinates-label">y</div>
                </div>
                <div class="loc-coordinates-input-wrapper">
                    <input type="number" class="loc-coordinates-input" ng-model="locObj.z_coordinate" />
                    <div class="loc-coordinates-label">z</div>
                </div>
                <div class="loc-coordinates-title">Coordinates</div>
            </div>
            <div class="input-wrapper last-input-wrapper">
                <select class="modal-input" id="locationList" ng-options="location as location.description for location in locations" ng-model="locationParentObj">
                <option id="locationList" value="" disabled selected>Parent Location</option>
            </select>
                <div class="modal-label">Parent Loc.</div>
            </div>
        </div>
            <div class="modal-controls-wrapper">
                <input type="submit" value="Create" class="modal-controls" id="addData">
                <input type="reset" value="Clear" class="modal-controls">
            </div>
    </form>
</div>