<!--<h1>Create a Location</h1>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{locCtrlTest}}</li>
        <li>2. {{locCreateServiceTest}}</li>
        <li>3. {{containerServiceTest}}</li>
        <li>4. {{locClassServiceTest}}</li>
        <li>5. {{locListServiceTest}}</li>
    </ul>
</div>-->

<!-- »»»»»»»»»»»»»»»»»»»║   DO'S   -->
<button ui-sref="loc_container">Create a Location Container Type</button>
<button ui-sref="loc_class">Create a Location Class Type</button>


<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->
<form id="createLocationForm">
    <select id="classificationList" ng-options="locClass as locClass.name for locClass in locClasses" ng-model="locClassObj">
        <option id="classificationList" value="" disabled selected>Classification</option>
    </select>
    <input type="text" placeholder="description" ng-model="locObj.description" required/>
    <select id="containerList" ng-options="container as container.name for container in containers" ng-model="containerObj">
        <option id="containerList" value="" disabled selected>Container Type</option>
    </select>
    <input type="number" placeholder="x-coordinate" ng-model="locObj.x_coordinate" />
    <input type="number" placeholder="y-coordinate" ng-model="locObj.y_coordinate" />
    <input type="number" placeholder="z-coordinate" ng-model="locObj.z_coordinate" />
    <select id="locationList" ng-options="location as location.description for location in locations" ng-model="locationParentObj">
        <option id="locationList" value="" disabled selected>Parent Location</option>
    </select>
    <input type="submit" value="Submit" ng-click="createLocation()"/>
    <input type="reset" value="Cancel"  ng-click="hideLocationModal()"/>
</form>
