<h1>Settings Page</h1>
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<div class="test-results">
    <ul>
        <li>1. {{settingsTest}}</li>
        <li>2. {{locListServiceTest}}</li>
    </ul>
</div>

<form id="settingsForm">
    <select id="locationList" ng-options="location as location.description for location in locations" ng-model="defaultLocation" >
        <option id="locationList" value="" disabled selected>{{loc}}</option>
    </select>
    <input type="submit" value="Submit" ng-click="updateDefault()">
    <input type="reset" value="Cancel">
</form>
