<!--<h1>Manage Track-bys</h1>
<h3>This should be changed from a ui-route view to a modal directive</h3>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{trackByTest}}</li>
        <li>2. {{trackByGetSrvTest}}</li>
        <li>3. {{trackByPostSrvTest}}</li>
        <li>4. {{trackByPutSrvTest}}</li>
        <li>5. {{trackByDeleteSrvTest}}</li>
    </ul>
</div>-->
<!-- »»»»»»»»»»»»»»»»»»»║   INPUT FIELDS   -->








<div class="modal-wrapper-trackby">
    <div class="header-trackby">
        <div class="header-text">Trackbys</div>
        <div class="closing-x" ng-click="hideTrackbyModal()">X</div>
    </div> 
    <form class="tb-form-wrapper" id="trackbyForm" ng-submit="createTrackBy()">
        <div class="trackby-input-wrappers">
            <input class="trackby-input" id="tba2" type="text" ng-model="trackByObj.trackby_name" />
            <div class="trackby-label" id="tba1">Name</div>
        </div>
        <div class="trackby-input-wrappers">
            <input class="trackby-input" id="tba4" type="text" ng-model="trackByObj.trackby_category"/>
            <div class="trackby-label" id="tba3">Category</div>
        </div>
        <div class="trackby-input-wrappers" id="lastWrapper-trackby">
            <input class="trackby-input" id="tba6" type="text" ng-model="trackByObj.trackby_value"/>
            <div class="trackby-label" id="tba5">Value</div>
        </div>
    <div class="tb-modal-footer">
        <input class="tb-mf-button-1" type="submit" value="Create" />
        <input class="tb-mf-button-1" type="reset" value="Clear" ng-click="clearForm()" />
    </div>
    </form>
    <div class="tb-1-c">
        <div title="Delete" class="tb-delete" id="tba9" ng-click="delete()" ng-disabled="enableDelete != false"></div>
        <div id="trackby-grid" class="mytbgrid" ui-grid="gridOptions" ui-grid-selection ui-grid-edit></div>
    </div>
</div>