<!--<h1>Create a User</h1>-->
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{userCreateTest}}</li>
        <li>2. {{stateListSrvTest}}</li>
        <li>3. {{postUserInfoSrvTest}}</li>
        <li>4. {{userServiceTest}}</li>
        <li>5. {{deleteAllUsersServiceTest}}</li>
        <li>6. {{countryListServiceTest}}</li>

    </ul>
    <button ng-click="deleteUsers()" style="background: red; color: white; cursor: pointer">Delete All Users</button>
</div>-->
 <!-- »»»»»»»»»»»»»»»»»»»║   USER INPUT FIELDS   -->
<div class="modal-wrapper-user">
    <div class="header-user">
        <div class="header-text">Create a User</div>
        <div class="closing-x" ng-click="hideUserModal()">X</div>
    </div>
    <form id="userCreateForm" ng-submit="submit()">
        <div class="form-wrapper">
        <div class="input-wrapper">
            <input type="text" class="modal-input" ng-model="userInfo.firstName" required />
            <div class="modal-label">First Name</div>
        </div>
        <div class="input-wrapper">
            <input type="text" class="modal-input" ng-model="userInfo.lastName" />
            <div class="modal-label">Last Name</div>
        </div>
        <div class="input-wrapper">
            <input type="tel" class="modal-input" ng-model="userInfo.phone" />
            <div class="modal-label">Phone</div>
        </div>
        <div class="input-wrapper">
            <input type="email" class="modal-input" ng-model="userInfo.email"  required/>
            <div class="modal-label">Email</div>
        </div>
        <div class="input-wrapper">
            <input type="text" class="modal-input" placeholder="street" ng-model="userInfo.address1"/>
            <div class="modal-label">Address 1</div>
        </div>
        <div class="input-wrapper">
            <input type="text" class="modal-input" placeholder="suite, building, apt #..." ng-model="userInfo.address2"/>
            <div class="modal-label">Address 2</div>
        </div>
        <div class="input-wrapper">
            <input type="text" class="modal-input" placeholder="city / township" ng-model="userInfo.city"/>
            <div class="modal-label">City</div>
        </div>
        <div class="input-wrapper">
            <select class="modal-input" id="stateList" ng-options="state as state.name for state in stateName" ng-model="stateObj" required>
                <option id="stateList" value="" selected>State</option>
            </select>
            <div class="modal-label">State</div>
        </div>
        <div class="input-wrapper">
            <select class="modal-input" id="countryList" ng-options="country as country.name for country in countryName" ng-model="countryObj" disabled>
                <option id="countryList" value="" disabled selected>United States of America</option>
            </select>
            <div class="modal-label">Country</div>
        </div>
        <div class="input-wrapper">
            <input type="number" class="modal-input" placeholder="postal / zip code" ng-model="userInfo.zip"/>
            <div class="modal-label">Zip Code</div>
        </div>
        <div class="input-wrapper">
            <div ng-init="rating = star.rating + 1"></div>
            <div class="star-rating modal-input" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
            <div class="modal-label">Rent Score</div>
        </div>
        <div class="filler-wrapper">
            <label><input type="checkbox" ng-model="userStatus" ng-change="deactivateUserChecked()">Deactivate</label>
        </div>
        </div>
            <div class="modal-controls-wrapper">
                <input type="submit" value="Create" class="modal-controls" id="addData">
                <input type="reset" value="Clear" class="modal-controls">
            </div>
    </form>
</div>