<h1>Manage a user</h1>
<!-- »»»»»»»»»»»»»»»»»»»║ TESTS   -->
<div class="test-results">
    <ul>
        <li>1. {{userManageControllerTest}}</li>
        <li>2. {{getUserColumnsSrvServiceTest}}</li>
        <li>3. {{updateUserServiceTest}}</li>
        <li>4. {{StateServiceTest}}</li>
        <li>5. {{countryListServiceTest}}</li>
    </ul>
</div>

<!-- »»»»»»»»»»»»»»»»»»»║ MAKE DIRECTIVE TO SHOW/HIDE DETAILS   -->

<div>
    <div ui-grid="gridOptions" class="myGrid" ui-grid-selection ui-grid-edit></div>
</div>
