<h1>Create a User</h1>
<!-- »»»»»»»»»»»»»»»»»»»║   TESTS   -->
<div class="test-results">
    <ul>
        <li>1. {{userCreateTest}}</li>
        <li>2. {{stateListSrvTest}}</li>
        <li>3. {{postUserInfoSrvTest}}</li>
        <li>4. {{userServiceTest}}</li>
        <li>5. {{deleteAllUsersServiceTest}}</li>
        <li>6. {{countryListServiceTest}}</li>

    </ul>
    <button ng-click="deleteUsers()" style="background: red; color: white; cursor: pointer">Delete All Users</button>
</div>
 <!-- »»»»»»»»»»»»»»»»»»»║   USER INPUT FIELDS   -->
<form id="userCreateForm">
    <input type="text" placeholder="first name" ng-model="userInfo.firstName" required />
    <input type="text" placeholder="last name" ng-model="userInfo.lastName" />
    <input type="tel" placeholder="phone number" ng-model="userInfo.phone" />
    <input type="email" placeholder="email" ng-model="userInfo.email"  required/>
    <input type="text" placeholder="street address" ng-model="userInfo.address1"/>
    <input type="text" placeholder="suite, building, apt #..." ng-model="userInfo.address2"/>
    <input type="text" placeholder="city / township" ng-model="userInfo.city"/>
    <select id="stateList" ng-options="state as state.name for state in stateName" ng-model="stateObj">
        <option id="stateList" value="" disabled selected>State</option>
    </select>
    <select id="countryList" ng-options="country as country.name for country in countryName" ng-model="countryObj" disabled>
        <option id="countryList" value="" disabled selected>United States of America</option>
    </select>
    <input type="number" placeholder="postal code" ng-model="userInfo.zip"/>
    <div ng-init="rating = star.rating + 1"></div>
    <p>Renter Rating</p><div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>

    <br/>
    <input type="checkbox" ng-model="userStatus" ng-change="deactivateUserChecked()"> Deactivate User
    <input type="submit" value="Submit" ng-click="submit()" />
    <input type="reset">
</form>
