<!-- »»»»»»»»»»»»»»»»»»»║ TESTS   -->
<!--<div class="test-results">
    <ul>
        <li>1. {{userManageControllerTest}}</li>
        <li>2. {{getUserColumnsSrvServiceTest}}</li>
        <li>3. {{updateUserServiceTest}}</li>
        <li>4. {{StateServiceTest}}</li>
        <li>5. {{countryListServiceTest}}</li>
    </ul>
</div>-->

<div class="page-wrapper">
    <div class="grid-container" id="manageUsers">
        <div>
            <div ui-grid="gridOptions" class="myUserGrid" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning></div>
        </div>
    </div>
</div>