// »»»»»»»»»»»»»»»»»»»║ FONTS
@import url('https://fonts.googleapis.com/css?family=Fresca|Josefin+Sans|Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

// »»»»»»»»»»»»»»»»»»»║ VARIABLES
// ...........home
$wrapper-widths: 1380px;
$primary-color: #595C80;
$secondary-color: #9c3d63;
$tertiary-color: #B0AFB0;
$quaternary-color: #2E5DAA;
$quinary-color: rgba(142, 161, 72, 1);
$senary-color: rgba(216, 12, 24, 1);
$septenary-color: rgba(247, 181, 0, 1);
$octonary-color: rgba(17, 137, 135, 1);
$nonary-color: rgba(234, 70, 9, 1);
$main-title-font: 'Quicksand', sans-serif;
$breadcrumb-font: 'Josefin Sans', sans-serif;
$title-font: 'Fresca', sans-serif;
$regular-font: 'Source Code Pro', monospace;


// »»»»»»»»»»»»»»»»»»»║ TESTS
@mixin box-tester {
    border: 1px solid red;
    // background: rgba(200, 0, 50, .1);
}

// »»»»»»»»»»»»»»»»»»»║ MIXINS
// ............... all pages
    @mixin test-format {
        color: green;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-style: italic;
    }

// ............... create user
    @mixin star-styles {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        cursor: pointer;
    }

// ............... home
    @mixin home-loss-tilt-end {
        position: absolute;
        right: 0px;
        bottom: 243px;
        transform: rotate(45deg);
    }
// create items input containers
    @mixin ci-input-containers {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 10px;
    }

// create items input containers
    @mixin form-input-wrappers {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 10px;
    }

// Grid Delete 
@mixin deleteIcon {
    z-index: 2002;
    position: absolute;
    top: 10;
    height: 30px;
    width: 30px;
    cursor: pointer;  
}

// modal mixins
// main-wrapper
    @mixin modal-wrapper-storage {
        display: flex;
        flex-direction: column;
        // height: 100%;
        width: 500px;
        border: 2px solid $tertiary-color;
        border-radius: 5px;
    }
// header
    @mixin modal-header-wrapper {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right:10px;
        background: rgba(173, 216, 230, .3);
    }
    @mixin modal-header-text {
        height: 100%;
        display: inline;
        font-size: 20px;
        font-weight: bold;
        padding: 7px 20px 0px 10px;
        border-top-right-radius: 20px;
        border-top-left-radius: 3px;
        background: $quaternary-color;
        color: #f8f8f8;
        font-family: $breadcrumb-font;
    }
    @mixin modal-closin-x {
        height: 100%;
        flex: .15;
        line-height: 30px;
        font-size: 20px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        color: #f8f8f8;
    }
// form
    @mixin form-wrapper {
        width: 100%;
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 0px;
        background: #e4e4e4;
    }
    @mixin input-wrapper {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 10px;
    }
// form-inputs
    @mixin modal-input {
        height: 25px;
        width: 100%;        
    }
    @mixin modal-label {
        margin-top: 10px;
        margin-left: 10px;
        line-height: 25px;
        width: 156px;        
    }   
// modal-controls
    @mixin modal-controls-wrapper {
        height: 30px;
        width: 100%;
        // background-image: url('../styles/img/texture.jpg');
        background: rgba(173, 216, 230, .3);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border: 1px inset #a6a6a6;
    }
    @mixin modal-controls {
        height: 100%;
        width: 27%;
        border: 1px ridge #d4d4d4;
        cursor: pointer;
        background: $primary-color;
        color: #f8f8f8;
        font-family: $breadcrumb-font;
    }