// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... loc container page

    .container-wrapper {
        @include box-tester;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    #containerCreateForm {
        @include box-tester;
        width: 100%;
        flex: .2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .contaier-grid-wrapper {
        @include box-tester;
        flex: 1;
        width: 100%;
        position: relative;
    }
    .myContainerGrid {
        @include box-tester;
        // height: 100%;
        width: 100%;
        
        margin-bottom: 20px;
    }
    #cont-delete {
        z-index: 2002;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0px;
    }