// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-user {
        @include modal-wrapper-storage;
    }
// ______:modal-headers
    .header-user {
        @include modal-header-wrapper;
    }
    .header-text {
        @include modal-header-text;
    }
    .closing-x {
        @include modal-closin-x;
    }
// _____: modal-form-section
    #userCreateForm {
        width: 100%;
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .input-wrapper {
        @include input-wrapper
    }
    .last-input-wrapper {
        margin-bottom: 5px;
    }
//_____: modal-input
    .modal-input {
        @include modal-input;       
    }
    .star-rating.modal-input {
        @include modal-input; 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;      
    }
    .modal-label {
        @include modal-label;       
    }
    .modal-controls-wrapper {
        @include modal-controls-wrapper;
    }
    .modal-controls {
        @include modal-controls;
    }
    .filler-wrapper {
        height: 46px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        // border: 1px solid green;
        padding: 0px 10px;
    }