// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-location {
        @include modal-wrapper-storage;
    }
// ______:modal-headers
    .header-location {
        @include modal-header-wrapper;
    }
    .header-text {
        @include modal-header-text;
    }
    .closing-x {
        @include modal-closin-x;
    }
// _____: modal-form-section
    .form-wrapper {
        @include form-wrapper
    }
    .input-wrapper {
        @include input-wrapper
    }
    .last-input-wrapper {
        margin-bottom: 5px;
    }
//_____: modal-input
    .modal-input {
        @include modal-input;       
    }
    .modal-label {
        @include modal-label;       
    }
    .modal-controls-wrapper {
        @include modal-controls-wrapper;
    }
    .modal-controls {
        @include modal-controls;
    }
//_____: loc-coordinates
    .loc-coordinates-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
    }
    .loc-coordinates-input-wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 172px;
    }
    .loc-coordinates-input {
        height: 25px;
        width: 100%;
    }
    .loc-coordinates-label {
        margin: 5px 10px 0px 5px;
        line-height: 25px; 
    }
    .loc-coordinates-title {
        margin-top: 10px;
        line-height: 25px;
        width: 166px;         
    }