// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ______:modal-headers
    .item-input {
        @include modal-input;
    }
    .item-label {
        @include modal-label;
        width: 200px;
    }
    .item-label.ci-gridlabel {
        @include modal-label;
        width: 137px !important;
        line-height: 19px;
        margin-left: 10px;
    }
    .create-item-wrapper {
        @include modal-wrapper-storage;
    }
    .scrollContainer {
        @include form-wrapper;
        height: 471px;
        display: block;
        overflow-y: scroll !important;
    }
    .ci-1 {
        z-index: 1;
        @include modal-header-wrapper;
    }
    .ci-1-a {
        @include modal-header-text;
    }
    .ci-1-b {
        @include modal-closin-x
    }
    .ci-2 {
        @include input-wrapper
    }
    bc-scanner {
        padding: 0px 0px !important;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .ci-2-b {
        height: 25px;
        width: 30px;
        background: $primary-color;
        cursor: pointer;
    }
    .ci-3 {
        @include input-wrapper
    }
    .ci-3-a {
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-content: center;
    }
    .ci-3-b {
        z-index: 9997;
        position: absolute;
        top: -65px;
        left: -121px;
        border: 2px solid white;
    }
    .ci-3-c {
        z-index: 10001 !important;
        position: absolute;
        top: -50px;
        left: 418px;
    }
    .scanWindow-contianer {
        z-index: 9998;
        position:fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .sw-1 {
       height: 100%; 
       width: 100%;
       background: rgba(0, 0, 0, .7);
    }
    #sw-middle {
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:650px;
       background: rgba(0, 0, 0, 0);
       position: relative;
    }
    .sw-1-a {
        width: 100%;
        min-height: 220px;
        background: rgba(0, 0, 0, .7);
    }
    .sw-1-b {
        width: 100%;
        height: 100%;
        margin-top: 150px;
        background: rgba(0, 0, 0, .7);
    }
    .scanBar {
        z-index: 10000 !important;
        position:absolute;
        top: 294px;
        left: -22px;
        width: 320px;
        height: 3px;
        background: red;
    }
    .tb-input-containers {
        @include input-wrapper;
    }
    .ci-7 {
        @include input-wrapper;
        height: 45px;                
    }
    .ci-7-a {
        display: inline-block;
        line-height: 30px;
        padding: 0px 10px;
        margin: 0px 10px;
    }
    .ci-7-b {
        height: 2px;
        background: white;
        flex: 1;
        padding-right: 10px
    }
    .ci-7-c {
        height: 2px;
        background: white;
        flex: 1;
        padding-left: 10px
    }
    .ci-9 {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
    }
    .ci-9-a {
        width: 312px;
        height: 100%;
    }
    #temp-grid {
        width: auto;
        height: 100%;
        background: rgba(173, 216, 230, .3);
    }
    .ci-11 {
        @include input-wrapper;
        justify-content: space-between;
    }
    .ci-12 {
        @include input-wrapper;
        justify-content: flex-start;
    }
    .tb-input-containers.radio-wrapper {
        @include input-wrapper;
        justify-content: flex-start;
    }
    .tb-input-containers.tb-checkboxes {
        @include input-wrapper;
        justify-content: space-between;
    }

    #ci-12-b {
        margin-left: 15px;
    }
    #tb-radio-button {
        margin-left: 61px;
    }
    .ci-14 {
        @include input-wrapper;
        justify-content: flex-start;
        align-items: flex-start;
        vertical-align: top;        
    }
    #temp-grid .ui-grid-viewport {
        overflow-x: hidden !important;
    }
    #te-other {
        height: 200px;
    }
    #per {
        margin: 0px 10px; 
    }
    #ci-24-b {
       width: 315px; 
    }
    .modal-footer {
        @include modal-controls-wrapper;
    }
    .mf-button-1 {
        @include modal-controls;
    }
    .fa-camera-retro {
        color: #f8f8f8;
    }
    a #cbw1 {
        display: block;
        z-index: 10;
    }