// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... public home
// _____: title
.home-body-wrapper {
    @include box-tester;
    height:500px;
    width: 100%;
    padding: 20px 20px;
    margin-top:63px;
}
.home-title-1 {
    @include box-tester;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.ht-1-a {
    @include box-tester;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1350px;
    height: 100%;
}
.home-test-asset {
    width: 40px;
    height: 40px;
}
#ht1 {
    background: lightblue;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 155px;
    line-height: 355px;
    flex: 1;    
}
#ht2 {
    background: lightgreen;
    // width: 100%;
    height: 150px;
    flex: .5;
    color: black;
    font-size: 20px;
    margin: 0px 50px;
}

// _____:contact footer
.cbw-1{
    @include box-tester;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.cbw-1-a{
    @include box-tester;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 400px;
}
.cbw-1-b{
    border-top: 1px solid blue;
    flex: 1;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cbw-asset{
    width: 40px;
    height: 40px;
}
#cbw1{
    background: lightblue;
}
#cbw2{
    background: lightcoral;
}
#cbw3{
    background: lightgreen;
}
#cbw4{
    background: lightyellow;
}