// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... public home
.home-main-wrapper {
    background: url('../styles/img/texture.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    overflow-x: hidden;
}
// _____: title
    .home-body-wrapper {
        height:900px;
        width: 100%;
        padding: 20px 20px;
        margin-top:63px;
        background: url('../styles/img/cleanSpace2.jpeg');
        background-size: cover;
        background-attachment: fixed;
    }
    .home-title-1 {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .ht-1-a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: $wrapper-widths;
        height: 100%;
        margin-top: 124px;
    }
    .home-test-asset {
        width: 40px;
        height: 40px;

    }
    #ht1 {
        // background: lightblue;
    }
    .home-section-title {
        width: 100%;
        text-align: center;
        font-family: $breadcrumb-font;
        font-size: 155px;
        font-weight: bold;
        line-height: 295px;
        color: #f8f8f8;
        text-shadow: 2px 2px black;
        flex: 1;    
    }
    #lwa2.home-section-title {
        width: 100%;
        text-align: center;
        font-family: $breadcrumb-font;
        font-size: 128px;
        font-weight: bold;
        line-height: 178px;
        color: #f8f8f8;
        text-shadow: 2px 2px black;
        flex: 1;    
    }
    #ft2.home-section-title {
        width: 100%;
        text-align: center;
        font-family: $breadcrumb-font;
        font-size: 128px;
        font-weight: bold;
        line-height: 178px;
        color: #f8f8f8;
        text-shadow: 2px 2px black;
        flex: 1;    
    }
    #ht2 {
        font-family: $breadcrumb-font;
        background: rgba(0, 0, 0, .5);
        color: #f8f8f8;
        height: 150px;
        flex: .5;
        font-size: 20px;
        margin: 0px 50px;
        padding: 30px;
        width: auto;
    }
// _____:find things
    .find-body-wrapper {
        height:900px;
        width: 100%;
        padding: 20px 0px;
        margin-top:20px;
    }
    .ft-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        background: url('../styles/img/homeSlice.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    .clip-circle {
        clip-path: circle(174px at center);
        /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }   
    .ft-1-a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: $wrapper-widths;
        height: 100%;
    }
    .ft-1-a-i {
        height: 100%;
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ft-1-a-i-1 {
        height: 350px;
        width: 350px;    
    }
    .ft-1-a-ii {
        height: 100%;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
        align-content: center;
        padding: 200px 50px;
    }
    .ft-1-a-ii-1 {
        width: 100%;
        text-align: center;
        font-family: $breadcrumb-font;
        font-size: 155px;
        font-weight: bold;
        color: #f8f8f8;
        text-shadow: 2px 2px black;
    }
    .ft-1-a-ii-2 {
        font-family: $breadcrumb-font;
        line-height: 45px;
        background: rgba(0, 0, 0, .5);
        color: #f8f8f8;
        font-size: 20px;
        padding: 30px;
    }
    .find-test-asset {
        width: 100%;
        height: 100%;
    }
    #ft1 {
        background: url(../styles/img/modifiedCorgi.png);
        width: 100%;
        flex: 1;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px groove gray; 
    }
    // #ft2 {
    //     background: lightgreen;
    //     flex: 1;
    //     color: black;
    //     font-size: 155px;
    //     vertical-align: center;
    //     line-height: 222px;
    // }


// _____:loss
    .loss-wrapper {
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        background: url('https://s3.amazonaws.com/rocketstockassets/uploads/After-Effects-Fire-Example1.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .lw-1 {
        flex: 1;
        width: $wrapper-widths;
        position: relative;
        background: url('../styles/img/fireHome.jpg');
        background-size: cover;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
        background-attachment: fixed;
    }
    .lw-1-a {
        width: 500px;
        height: 355px;
        margin: 152px 0px 0px 50px !important;
    }
    .desc-text {
        font-family: $breadcrumb-font;
        background: rgba(0, 0, 0, .5);
        color: #f8f8f8;
        flex: .5;
        font-size: 20px;
        margin: 50px;
        padding: 30px;
        height: 380px;
        width: 500px;
    }
    #ft3.desc-text {
        font-family: $breadcrumb-font;
        background: rgba(0, 0, 0, .5);
        color: #f8f8f8;
        flex: .5;
        font-size: 20px;
        margin: 0px;
        padding: 10px;
        height: 104px;
        width: 500px;
    }
    .lw-1-b {
        width: 750px;
        height: 175px;
        position: absolute;
        right: 0px;
        bottom: 243px;
        transform: rotate(51deg);
        font-size: 125px;
        line-height: 175px;
    }
    .lw-1-c {
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 200px;
        background: url('https://s3.amazonaws.com/rocketstockassets/uploads/After-Effects-Fire-Example1.gif');
    }
    .lw-asset {
        height: 40px;
        width: 40px;
    }
    #lwa1 {
        background: lightblue;
    }
    #lwa3 {
        background: lightgreen;
    }

// _____:contact footer
    .cbw-1{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        background: $primary-color;
        box-shadow: 3px 0px rgba(0, 0, 0, .3);
    }
    .cbw-1-a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        width: 400px;
    }
    .cbw-1-b{
        border-top: 1px solid white;
        flex: .5;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cbw-asset{
        width: 40px;
        height: 40px;
    }
  .socialLink {
    font-size: 37px !important;
    color: #f8f8f8;
  }
  .socialLink:hover {
    font-size: 43px !important;
    color: #f8f8f8;
    text-shadow: 2px 2px black;
    cursor: pointer;
  }
    a#cw4{
        display:block;
        text-transform: uppercase;
        color: white !important;
        font-family: $breadcrumb-font !important;
        text-decoration: none !important;
    }

#key-features {
    // margin-left: 20px;
    line-height: 40px;
}

ul.key-features-list {
    margin-left: 20px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-features {
    line-height: 40px;
    // margin-left: 20px;
}
ul.item-features-list {
    line-height: 30px;
    margin-left: 40px;
}
.contactlinker {
    display:block;
}