// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... loc manage page
#container {
    z-index: 3000;
}
    .page-wrapper {
    height: 100vh;
    width: 100%;
    padding: 85px 20px 20px 105px;
    overflow-y: hidden;
    position: relative;
    }
    .grid-container {
        width: 100%;
        height: 100%;
    }
    .myLocationGrid {
        height: 89vh;
    }
    .loc-delete {
        z-index: 2002;
        position: absolute;
        top: 85;
        left: 85;
        height: 30px;
        width: 30px;
    }