// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-storage {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
// ______:modal-headers
    .header-storage {
        @include box-tester;
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right:10px;
        background: lightblue;
    }
    .header-text {
        @include box-tester;
        height: 100%;
        display: inline;
        line-height: 27px;
        font-size: 20px;
        font-weight: bold;
        padding: 0px 20px 0px 10px;
        border-top-right-radius: 20px;
        border-top-left-radius: 3px;
        background: black;
    }
    .closing-x {
        @include box-tester;
        height: 100%;
        flex: .15;
        line-height: 30px;
        font-size: 20px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        color: #333;
    }