// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-storage {
        @include modal-wrapper-storage;
    }
// ______:modal-headers
    .header-storage {
        @include modal-header-wrapper;
    }
    .header-text {
        @include modal-header-text;
    }
    .closing-x {
        @include modal-closin-x;
    }
// _____: modal-form-section
    .form-wrapper {
        @include form-wrapper
    }
    .input-wrapper {
        @include input-wrapper
    }
    .last-input-wrapper {
        margin-bottom: 5px;
    }
//_____: modal-input
    .modal-input {
        @include modal-input;       
    }
    .modal-label {
        @include modal-label;       
    }
    .modal-controls-wrapper {
        @include modal-controls-wrapper;
    }
    .modal-controls {
        @include modal-controls;
    }
//_____: modal-grid
    .modal-grid-wrapper {
        position: relative;
    }
    .myGrid {
        height: 334px;
    }
    .ui-grid-viewport {
        overflow-x: hidden !important;
    }
    .grid-delete {
        // background: lightblue;
        z-index: 2002;
        position: absolute;
        top: 10;
        height: 30px;
        width: 30px;
        cursor: pointer;        
    }