// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... all pages
html, input, textarea, button, select {
  background: #242424;
  color: #b6b6b6;
}

.test-results {
  @include test-format;
}
div.test-results {
  border: 1px dashed red;
  background: rgba(0, 0, 0, .1);
}

// _____: public header
.public-header-1 {
  @include box-tester;
  width: 100%;
  height:65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.public-header-1-a {
  @include box-tester;
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.public-header-1-b {
  @include box-tester;
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.public-header-1-b-i {
  @include box-tester;
  height:100%;
  flex: .5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.test-asset {
  width: 30px;
  height: 30px;
  background: lightblue;
}

#t1 {
  height: 45px;
  width: 200px;

}

#ph-login {
  margin: 0px 5px;
}

#ph-contact {
  margin: 0px 0px 0px 5px;
  background: green;
}


// create users page
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;

}

ul.rating {
  display: inline-block;
}

.rating li {
  @include star-styles;
}

.rating .filled {
  color: gold;
}

// create items page
.my-loc-on-items {
  max-width: 600px;
  max-height: 200px;
}

// manage items page
.manageItemsGrid {
  width: 100%;
}