// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// ............... all pages
.test-results {
    @include test-format;
}
div.test-results {
    border: 1px dashed red;
    background: rgba(0, 0, 0, .1);
}
// create users page
.stars {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px, solid #b6b6b6;
    background: gold;
}