// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-trackby {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

// ______:modal-headers
    .header-trackby {
        @include box-tester;
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right:10px;
        background: lightblue;
    }
    .header-text {
        @include box-tester;
        height: 100%;
        display: inline;
        line-height: 27px;
        font-size: 20px;
        font-weight: bold;
        padding: 0px 20px 0px 10px;
        border-top-right-radius: 20px;
        border-top-left-radius: 3px;
        background: black;
    }
    .closing-x {
        @include box-tester;
        height: 35px;
        flex: .15;
        line-height: 30px;
        font-size: 20px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        color: #333;
    }

// ............... trackby page
    .tb-1-c {
        border: 1px solid blue;
        // height: 300px;
        flex: 1;
        width: 100%;
        // position: relative;
        padding: 10px;
    }
    .tb-delete {
        width: 65px;
        height: 30px;
    }

    #tba9 {
        background: lightblue;
        z-index: 2002;
        position: absolute;
        top: 10;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

// ........... fixit
    .tb-form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .trackby-label {
        margin-top: 10px;
        margin-left: 10px;
        line-height: 25px;
        width: 156px;        
    }
    .trackby-input {
        height: 25px;
        width: 100%;        
    }
    .trackby-input-wrappers {
        @include form-input-wrappers;
    }
    .mytbgrid {
        width: 100%;
        height: 284px;
    }
    .ui-grid-viewport {
        overflow-x: hidden !important;
    }

// footer
    .tb-modal-footer {
        @include modal-footer;
    }
    .tb-mf-button-1 {
        @include mf-buttons;
    }