// =============== IMPORT FILES
@import '_varsAndMixins';

// =============== PAGE STYLES
// _____:main-modal-wrapper
    .modal-wrapper-trackby {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

// ______:modal-headers
    .header-trackby {
        @include modal-header-wrapper;
    }
    .header-text {
        height: 100%;
        display: inline;
        line-height: 27px;
        font-size: 20px;
        font-weight: bold;
        padding: 0px 20px 0px 10px;
        border-top-right-radius: 20px;
        border-top-left-radius: 3px;
        background: black;
    }
    .closing-x {
        height: 35px;
        flex: .15;
        line-height: 30px;
        font-size: 20px;
        text-align: right;
        font-weight: bold;
        cursor: pointer;
        color: #333;
    }

// ............... trackby page
    .tb-1-c {
        flex: 1;
        width: 100%;
    }
    .tb-delete {
        width: 65px;
        height: 30px;
    }

    #tba9 {
        // background: lightblue;
        z-index: 2002;
        position: absolute;
        top: 10;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

// ........... fixit
    .tb-form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
    }
    .trackby-label {
        margin-top: 10px;
        margin-left: 10px;
        line-height: 25px;
        width: 156px;        
    }
    .trackby-input {
        height: 25px;
        width: 100%;        
    }
    .trackby-input-wrappers {
        @include form-input-wrappers;
    }
    .mytbgrid {
        width: 100%;
        height: 310px;
    }
    #trackby-grid {
        overflow-x: hidden !important;
    }
    #lastWrapper-trackby {
        margin-bottom: 5px;
    }
// footer
    .tb-modal-footer {
        @include modal-controls-wrapper;
    }
    .tb-mf-button-1 {
        @include modal-controls;
    }